<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home | Happy Tails Shelter</title>
    </head>

    <body>
        <!-- header -->
        <header>
            <div style="border: 2px solid #000">
                <!-- logo -->
                <a href="index.html" class="logo">Portfolio</a>
                <!-- nav items -->
                <nav style="border: 2px solid #000">
                    <a href="index.html">Home</a>
                    <a href="pets.html">Pets</a>
                    <a href="mission.html">Mission</a>
                    <a href="testimonials.html">Testimonials</a>
                    <a href="contact.html">Contact Us</a>
                </nav>
            </div>
        </header>

        <!-- banner -->
        <section style="border: 2px solid #000">
             <p>BANNER / PUPPIES VIDEO</p>
       
        </section>

        <!-- about -->
        <section style="border: 2px solid #000">
            <p>ABOUT US</p>
        </section>

        <!-- footer -->
        <footer style= "border: 2px solid #000">
            <p>FOOTER</p>
        </footer >

        <!-- scripts -->
        <script src="./js/main.js"></script>

    </body>

</html>